<div layout="column" layout-align="center center" style="width: 40px;">
	<md-button ng-click="increase_user_voting()" class="md-icon-button" style="margin-bottom: -12px;">
		<i class="fa fa-chevron-up text-muted" ng-class="comment.user_voting == '1' ? 'text-success':''"></i>
	</md-button>

	<small ng-bind="comment.voting + comment.user_voting" style="padding-right: 1px;"></small>

	<md-button ng-click="decrease_user_voting()" class="md-icon-button" style="margin-top: -14px;">
		<i class="fa fa-chevron-down text-muted" ng-class="comment.user_voting == '-1' ? 'text-danger':''"></i>
	</md-button>
</div>
