// Variables

$white: #fff; // background
$green: #17971b;
$orange: #d35400;

$light-grey: darken($white, 6.5%);
$light-blue: #6d9bb5;
$cite-color: #6a767f;
$mid-grey: #777;
$dark-blue: #2c3e50;
$dark-grey: #444;


body, html {
	height: 100%;
	font-family: 'Lato', 'Open Sans', sans-serif;
	background-color: $white;
}

a {
	text-decoration: none;
	color: $white;
	transition: all .2s;

	&:hover {
		text-decoration: none;
		color: $white;
	}
}

.container-light-grey { background-color: $light-grey; }
.container-dark-orange { background-color: $orange; }
.container-back-image { background-image: url(../images/background.jpg); background-position-x: 50%; }

.container-top-bar a {
	padding: 16px;
	float: left;

	color: $dark-blue;
	font-size: 18px;

	&:hover {
		color: $white;
		background-color: $dark-blue;
	}
}

.container-padding-2 { padding: 30px 0px; }
.container-padding-4 { padding: 60px 0px; }
.container-padding-6 { padding: 90px 0px; }

.container-text {
	text-align: center;

	h4 {
		letter-spacing: 0.2em;
		text-transform: uppercase;
		font-weight: 300;
		padding: 26px 0px 20px 0px;
	}

	p {
		max-width: 780px;

		font-size: 15px;
		line-height: 26px;
		margin: 0 auto;
	}

	a {
		font-style: italic;
	}
}
.container-text-light { color: $light-grey; }
.container-text-dark { color: $dark-grey; }

.brand {
	margin: 20px auto;
	text-align: center;
	color: $white;

	h1 {
	    margin-top: 10px;
		margin-bottom: 15px;

		font-size: 70px;
	    font-weight: 700;
	}

	p {
		max-width: 600px;
		margin: 30px auto;

		line-height: 26px;
		font-weight: 300;
		letter-spacing: -0.25px;
		font-size: 16px;
	}

	a {
		border: 2px solid $white;

		&:hover {
			color: $green;
			background-color: $white;
		}
	}
}


.sturamed {
	margin: 0px auto;
	max-width: 260px;

	p {
		color: $dark-grey;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		text-align: center;
		font-family: 'Lato', sans-serif;
		margin-bottom: 10px;
	}
}

.image-med-exam {
	margin-top: 0px;
	margin-bottom: -90px;
}


.cite {
	margin: 0px auto 40px auto;
	max-width: 600px;

	h3 {
		font-size: 32px;
		color: $cite-color;
		text-align: center;
	}

	i {
		color: $orange;
		margin-left: 120px;
	}

	i a {
		font-family: 'Lato', sans-serif;
		color: $dark-blue;
	}
}


.info-block-crucio {
	text-align: center;
	font-weight: 300;

	h2 {
		margin-top: 10px;
		margin-bottom: 10px;

	    color: $dark-grey;
	    font-size: 30px;
	}

	p {
		color: $mid-grey;
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
		padding: 0px 10px;
	}

	i {
		width: 142px;
		height: 142px;
		margin: 10px auto;
		padding-top: 40px;

		background: $light-blue;
		border: 1px solid $light-blue;
		border-radius: 85px;
		transition: all .2s;

		font-size: 56px;
		color: $white;

		&:hover {
			background: $white;
			color: $light-blue;
		}
	}
}

.owl-nav {
	width: 60px;
	margin-left: auto;
	margin-right: auto;

	font-size: 20px;
}
.owl-prev {
	float: left;
}
.owl-next {
	float: right;
}

.owl-caption {
	padding-bottom: 20px;

	font-size: 15px;
	line-height: 26px;
	letter-spacing: -0.25px;
	margin: 0 auto;
	color: $light-grey;
	font-family: 'Lato', sans-serif;
}

.table {
	margin: 20px auto;
	max-width: 1000px;

	text-align: justify;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;

	.strong {
		text-align: left;
		font-weight: bold;
	}
}

.footer {
	padding-top: 21px;
	padding-bottom: 9px;
	background-color: $dark-blue;

	color: $light-grey;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 0.1em;

	.left {
		float: left;
		text-align: left;
		max-width: 250px;
	}

	.center {
		text-align: center;
	}

	.right {
		float: right;
		text-align: right;
		max-width: 250px;
	}

	i {
		font-size: 20px;
	}
}
