<div class="loading-screen" layout="column" layout-align="center center" ng-if="!ready">
  <md-progress-linear md-mode="indeterminate"></md-progress-linear>
</div>

<div class="md-padding gray-background" layout-align="start start" layout="row" flex ng-if="ready">
  <div flex-gt-md="10"></div>
  <div layout="column" flex>
    <h1 class="md-display-1" style="color: #222; font-weight: 300;" ng-if="collections.length">Gespeicherte Sammlungen</h1>

    <div layout="row" layout-wrap ng-if="collections.length">
      <cr-collection-card collection="collection.data" collectionid="collection.collection_id" index="$index" ng-repeat="collection in collections" flex-sm="95" flex-md="45" flex-gt-md="30"></cr-collection-card>
    </div>

    <h1 class="md-display-1" style="color: #222; font-weight: 300;">Empfohlene Klausuren</h1>

    <div layout="row" layout-wrap>
      <cr-collection-card exam="exam" ng-repeat="exam in recommendedExams" flex-sm="95" flex-md="45" flex-gt-md="30"></cr-collection-card>
    </div>
  </div>
</div>
