<div class="footer md-default-theme md-primary" layout="row"  layout-align="space-around start">
  <md-button href="<%= fachschaft.url %>"><%= fachschaft.name %></md-button>

  <md-button href="/learn/abstract" aria-label="Zur &Uuml;bersicht" style="font-size: 16px;">
    <i class="fa fa-check-square-o"></i>
  </md-button>

  <section layout="row" layout-align="end">
    <md-button href="contact" target="_self">Kontakt</md-button>
    <md-button href="/about" target="_self">Impressum</md-button>
  </section>
</div>
