<div class="container">
	<div class="row mtop-navbar-row">
	    <div class="col-md-3 sidebar">
	    	<ul class="nav nav-pills nav-stacked mbottom-2x">
				<li ng-class="{active: tab_active == 'users'}"><a href ng-click="tab_active = 'users'"><i class="fa fa-users fa-fw"></i>  Benutzer</a></li>
				<li ng-class="{active: tab_active == 'whitelist'}"><a href ng-click="tab_active = 'whitelist'"><i class="fa fa-envelope fa-fw"></i>  E-Mail Whitelist</a></li>
				<li ng-class="{active: tab_active == 'comments'}"><a href ng-click="tab_active = 'comments'"><i class="fa fa-comments fa-fw"></i>  Kommentare</a></li>
				<li ng-class="{active: tab_active == 'tools'}"><a href ng-click="tab_active = 'tools'"><i class="fa fa-wrench fa-fw"></i>  Tools</a></li>
				<li ng-class="{active: tab_active == 'stats'}"><a href ng-click="tab_active = 'stats'"><i class="fa fa-bar-chart fa-fw"></i>  Statistik</a></li>
			</ul>
			<hr class="visible-xs visible-sm">
	    </div>

	    <div class="col-md-9">
	    	<div class="tab-content">
	    		<div ng-show="tab_active == 'users'">
    				<div class="row mmtop">
    					<div class="col-md-8 col-sm-8">
    						<div class="btn-toolbar" role="toolbar">
    							<div class="btn-group mtop">
    								<button class="btn btn-success" ng-click="send_mail()">Mail an Auswahl</button>
    							</div>

    							<div class="btn-group mtop" dropdown>
    								<button class="btn btn-default dropdown-toggle" type="button" dropdown-toggle>
    									{{ user_search.semester ? user_search.semester + '. Semester' : 'Alle Semester' }} <span class="caret"></span>
    								</button>

    								<ul class="dropdown-menu" role="menu">
    									<li ng-repeat="sem in distinct_semesters">
    										<a href ng-click="$parent.user_search.semester = sem">{{ sem }}. Semester</a>
    									</li>

    							    	<li class="divider"></li>
    							    	<li><a href ng-click="user_search.semester=''">Alle Semester</a></li>
									</ul>
    							</div>
    							
    							<div class="btn-group mtop" dropdown>
    								<button class="btn btn-default dropdown-toggle" type="button" dropdown-toggle>
    									{{ user_search.group ? user_search.group : 'Alle Gruppen' }} <span class="caret"></span>
    								</button>

    								<ul class="dropdown-menu" role="menu">
    									<li ng-repeat="group_child in distinct_groups"><a href ng-click="$parent.user_search.group=group_child">{{ group_child }}</a></li>
    							    	<li class="divider"></li>
    							    	<li><a href ng-click="user_search.group=''">Alle Gruppen</a></li>
    								</ul>
    							</div>
    						</div>
    					</div>

    					<div class="col-md-4 col-sm-4">
    						<div class="mtop">
        					    <input class="form-control" type="text" placeholder="Suche..." ng-model="user_search.query">
    						</div>
    					</div>
    				</div>

    				<br>

					<div class="table-responsive">
    					<table class="table" id="user-table">
    						<thead>
    							<th></th>
    						    <th>Name</th>
    						    <th>Semester</th>
    						    <th>Letzte Anmeldung</th>
    						    <th>Registrierung</th>
    						    <th></th>
    						</thead>

    						<tbody>
    							<tr ng-repeat="user in ::users" ng-show="user_in_selection($index)">
    								<td id="group"><cr-group user="user"></cr-group></td>
									<td>{{ user.username }}</td>
									<td id="semester">{{ user.semester }}</td>
									<td id="login">
										<span ng-if="user.last_sign_in > 0 && !is_today(user.last_sign_in) && !is_yesterday(user.last_sign_in)">
											{{ user.last_sign_in * 1000 | date: 'dd.MM.yyyy, HH:mm' }}
										</span>

										<span ng-if="user.last_sign_in > 0 && is_today(user.last_sign_in)" class="label label-success">
											Heute, {{ user.last_sign_in * 1000 | date: 'HH:mm' }}
										</span>

										<span ng-if="user.last_sign_in > 0 && is_yesterday(user.last_sign_in)">
											Gestern, {{ user.last_sign_in * 1000 | date: 'HH:mm' }}
										</span>

										<span class="label label-danger" ng-if="user.last_sign_in == 0 && user.active == 0">Nicht Aktiviert</span>
										<span class="label label-warning" ng-if="user.last_sign_in == 0 && user.active == 1">Nie Angemeldet</span>
									</td>
									<td>{{ ::user.sign_up_date * 1000 | date: 'dd.MM.yyyy' }}</td>
									<td><a href="mailto:{{ user.email }}" tooltip-placement="top" tooltip="{{user.email}}">
										<i class="fa fa-envelope"></i>
									</a></td>
    							</tr>

    							<tr class="search-sf" ng-show="user_in_selection_count() == 0"><td class="text-muted" colspan="6">Nichts gefunden.</td></tr>
    						</tbody>
						</table>
					</div>
    			</div>


	    		<div ng-show="tab_active == 'whitelist'">
					<h4>Für E-Mail-Adressen<small> die nicht ______@studserv.uni-leipzig.de entsprechen</small></h4>
					<div class="row">
						<center>
							<form class="input-group col-xs-10 col-sm-6" ng-submit="add_mail()">
								<input class="form-control" ng-model="new_whitelist_mail" type="text" placeholder="Mail-Adresse...">
								<span class="input-group-btn">
									<button class="btn btn-default"><i class="fa fa-plus"></i></button>
								</span>
							</form>
						</center>
					</div>

					<br>

					<table class="table">
						<thead>
							<th>In Verwendung?</th>
						    <th>E-Mail-Adresse</th>
						    <th></th>
						</thead>

						<tbody>
							<tr ng-repeat="email in whitelist">
								<td><i class="fa fa-check" ng-show="email.used > 0"></i></td>
								<td>{{ email.mail_address }}</td>
								<td><button class="close" type="button" ng-click="remove_mail($index)">&times;</button></td>
							</tr>
						</tbody>
					</table>
				</div>


	    		<div ng-show="tab_active == 'comments'">
					<div class="row mmtop">
						<div class="col-md-6 col-sm-6 col-sm-offset-6 col-md-offset-6">
							<div class="input-group mtop">
							    <input class="form-control" type="text" ng-model="comment_search.query">
							    <span class="input-group-btn">
							    	<button class="btn btn-default"><i class="fa fa-search"></i></button>
							    </span>
							</div>
						</div>
					</div>

					<br>

					<table class="table">
						<thead>
						    <th>Frage</th>
						    <th><i class="fa fa-fw fa-user"></i> Name</th>
						    <th><i class="fa fa-comment-o fa-user"></i> Kommentar</th>
						    <th style="min-width: 100px;"><i class="fa fa-clock-o fa-user"></i> Datum</th>
						    <th></th>
						</thead>

						<tbody ng-repeat="comment_array in questions_by_comment_display">
						    <tr ng-repeat="c in comment_array">
							    <td ng-show="$index==0" rowspan="{{comment_array.length}}" style="min-width:140px;">
							    	<span ng-bind-html="c.question"></span>
						    	</td>
							    <td>{{ c.username }}</td>
								<td>{{ c.comment }}</td>
								<td><span timeago="{{c.date * 1000}}"></td>
								<td><a href="question?id={{ c.question_id }}&reset_session=1"><i class="fa fa-chevron-right"></i></a></td>
						    </tr>
						</tbody>

						<tbody class="search-sf" ng-show="comment_in_selection_count() == 0">
							<td class="text-muted" colspan="6">Nichts gefunden.</td>
						</tbody>
					</table>
				</div>


				<div ng-show="tab_active == 'tools'">
    				<h4 class="mbottom-2x">Bitte sehr vorsichtig sein!</h4>
    				<div class="btn-toolbar">
    					<div class="btn-group">
    						<button class="btn btn-default" ng-click="change_all_semester('1')">Semester +1</button>
							<button class="btn btn-default" ng-click="change_all_semester('-1')">-1</button>
						</div>
    				</div>
    				
    				<hr>
    				
    				<div class="btn-toolbar">
						<button class="btn btn-default" ng-click="remove_test_account()">Test Account löschen</button>
    				</div>
    				
    				<hr>
    				
    				<div class="btn-toolbar">
						<a class="btn btn-default" href="quality">Werkzeuge zur Qualitätssicherung</a>
						<a class="btn btn-default" href="live-statistics">Live Statistik</a>
    				</div>
    				
    				<hr>
    				
    				<div class="btn-toolbar">
    					<a class="btn btn-default" href="https://www.google.com/analytics/web/#report/visitors-overview/a47836301w79202201p81910001/" target="_self"><i class="fa fa-fw fa-external-link"></i> Google Analytics</a>
    					<a class="btn btn-default" href="https://github.com/crucioproject/Crucio" target="_self"><i class="fa fa-fw fa-external-link"></i> Github</a>
    				</div>
    			</div>


	    		<div ng-show="tab_active == 'stats'">
		    		<div class="btn-toolbar">
			    		<a class="btn btn-default pull-right" href="https://www.google.com/analytics/web/#report/visitors-overview/a47836301w79202201p81910001/" target="_self"><i class="fa fa-fw fa-external-link"></i> Google Analytics</a>
			    		<a class="btn btn-default pull-right" href="tools/stats" target="_self"><i class="fa fa-fw fa-external-link"></i> Live Statistik</a>
		    		</div>
		    		
		    		<hr>
		    		
					<div class="row">
						<div class="col-xs-6 col-sm-4">
							<div class="stats-box">
								<h5>{{ ::stats.user_count }}</h5>
								<p><i class="fa fa-users fa-fw"></i> Nutzer</p>
							</div>
						</div>
						<div class="col-xs-6 col-sm-4">
							<div class="stats-box">
								<h5>{{ ::stats.question_count }}</h5>
								<p> <i class="fa fa-question-circle fa-fw"></i> Fragen | {{ ::stats.visible_question_count }} sichtbar</p>
							</div>
						</div>
						<div class="col-xs-6 col-sm-4">
							<div class="stats-box">
								<h5>{{ ::stats.exam_count }}</h5>
								<p> <i class="fa fa-list fa-fw"></i> Klausuren | {{ stats.visible_exam_count }} sichtbar</p>
							</div>
						</div>
						<div class="col-xs-6 col-sm-4">
							<div class="stats-box">
								<h5>{{ ::stats.result_count }}</h5>
								<p>
									<i class="fa fa-exclamation-triangle fa-fw"></i>
									Antworten | {{ stats.result_count / stats.user_count | number:0  }} / Nutzer
								</p>
							</div>
						</div>
						<div class="col-xs-6 col-sm-4">
							<div class="stats-box">
								<h5>{{ stats.result_count_today }}</h5>
								<p><i class="fa fa-exclamation-triangle fa-fw"></i> Antworten | 24 Stunden</p>
							</div>
						</div>
						<div class="col-xs-6 col-sm-4">
							<div class="stats-box">
								<h5>{{ stats.result_per_minute | number : 2 }}</h5>
								<p><i class="fa fa-exclamation-triangle fa-fw"></i> Antworten pro Minute</p>
							</div>
						</div>
						<div class="col-xs-6 col-sm-4">
							<div class="stats-box">
								<h5>{{ ::stats.comment_count }}</h5>
								<p> <i class="fa fa-comments fa-fw"></i> Kommentare</p>
							</div>
						</div>
						<div class="col-xs-6 col-sm-4">
							<div class="stats-box">
								<h5>{{ ::stats.tag_count }}</h5>
								<p> <i class="fa fa-tags fa-fw"></i> Markierungen</p>
							</div>
						</div>
					</div>
				</div>
	    	</div>
	    </div>
	</div>
</div>