<md-content class="md-primary md-hue-1 md-padding colored-content">
  <form ng-submit="reload()" layout="row" layout-align="center">
    <md-input-container>
      <label><i class="fa fa-fw fa-search"></i> Suche</label>
      <input ng-model="query" type="text">
    </md-input-container>

    <md-select placeholder="Autor" ng-model="author_id" ng-change="reload()">
      <md-option value=""><b>Alle Autoren</b></md-option>
      <md-option ng-repeat="a in authors" value="{{ a.user_id }}">{{ a.username }}</md-option>
    </md-select>
  </form>
</md-content>

<div class="gray-background" layout-align="center start" layout="row" flex>
  <md-content class="md-padding md-whiteframe-z2 white-content" flex="66">
    <div ng-if="!comments" style="padding: 80px;">
      <md-progress-linear class="md-accent" md-mode="indeterminate"></md-progress-linear>
    </div>

    <md-list ng-if="comments">
      <md-subheader class="md-no-sticky">
        <span ng-if="!comments.length">Keine Kommentare</span>
        <span ng-if="comments.length == 1">{{ comments.length }} Kommentar</span>
        <span ng-if="1 < comments.length && comments.length < limit">{{ comments.length }} Kommentare</span>
        <span ng-if="comments.length == limit">Neueste Kommentare</span>
      </md-subheader>
      <md-list-item class="md-3-line" ng-repeat-start="comment in comments" layout="row" ng-click="showQuestion(comment.question_id)">
        <div class="md-list-item-text" layout="row" flex>
          <section flex="20">
            <h3>{{ comment.username }}</h3>
            <h4><i class="fa fa-fw fa-clock-o"></i> <cr-timeago date="{{ comment.date * 1000 }}"></h4>
            <h4></h4>
          </section>

          <p>{{ comment.comment }}</p>
        </div>
      </md-list-item>
      <md-divider ng-if="!$last" ng-repeat-end></md-divider>
    </md-list>
  </md-content>
</div>
