<md-dialog>
  <md-toolbar class="md-padding md-accent" ng-if="question">
    <span style="padding: 10px; padding-top: 6px;" class="md-headline"><i class="fa fa-fw fa-flask"></i>  {{ question.info.subject }}</span>
    <span style="padding: 10px; padding-top: 8px;" class="md-subhead">
      <i class="fa fa-fw"></i> {{ question.info.semester }}. Semester |
      <i class="fa fa-fw fa-calendar"></i> {{ question.info.date }}
      <span ng-if="question.info.sort"> | {{ question.info.sort }}
      <span ng-if="question.info.professor">| <i class="fa fa-fw fa-user-md"></i> {{ question.info.professor }}</span>
    </span>
  </md-toolbar>

  <md-dialog-content ng-if="!question">
    <div class="loading-screen" layout="column" layout-align="center center" ng-if="!ready">
      <md-progress-linear md-mode="indeterminate" class="md-accent"></md-progress-linear>
    </div>
  </md-dialog-content>

  <md-dialog-content ng-if="question" style="padding: 0px;">
    <md-subheader class="md-no-sticky" ng-if="question.type > 1 && question.correct_answer == 0">
      Keine Antwort
    </md-subheader>

    <md-subheader class="md-no-sticky" ng-if="question.type == 1">
      Freie Frage
    </md-subheader>

    <div layout="row" layout-padding>
      <div flex>
        <div layout="row" layout-margin>
          <span ng-bind-html="::question.question" class="md-title" flex></span>
          <img style="float: right;" flex-sm="50" flex-md="40" flex-gt-md="30" ng-if="question.question_image_url"
          ng-src="{{ 'http://www.crucio-leipzig.de/public/files/' + question.question_image_url }}">
        </div>

        <md-radio-group ng-model="checkedAnswer" ng-click="saveAnswer()">
          <md-radio-button ng-value="$index+1" ng-repeat="answer in question.answers track by $index" ng-show="question.type > 1 && answer"><p class="answer" ng-class="{'error-answer': $index+1 == checkedAnswer && checkedAnswer != question.correct_answer && markAnswerBool, 'success-answer': $index+1 == question.correct_answer && markAnswerBool}">{{ answer }}</p></md-radio-button>
        </md-radio-group>
      </div>
    </div>

    <div class="gray-background md-padding" style="padding-top: 30px; padding-bottom: 60px; margin-top: 40px;" layout="column">
      <div layout-gt-sm="row" layout-sm="column" layout-align="center center">
        <md-button ng-click="showSolutionButtonClicked()" ng-if="question.type > 1" ng-disabled="markAnswerBool">L&ouml;sung anzeigen</md-button>
        <md-button ng-click="showExplanation()" ng-if="question.explanation">Erkl&auml;rung anzeigen</md-button>
        <md-button ng-click="reportQuestion()">Melden</md-button>
        <md-button ng-click="editQuestion()" ng-if="user.group_id > 1">Bearbeiten</md-button>
      </div>
    </div>

    <div class="gray-background" layout-align="center start" layout="row" flex>
      <div layout="column" flex="95" flex-gt-md="75">
        <md-content class="md-padding md-whiteframe-z2 white-content" style="margin-top: -20px;">
          <md-subheader class="md-no-sticky">
            <span>Deine Markierungen</span>
          </md-subheader>

          <md-chips ng-model="question.tags" placeholder="hinzufügen..."  secondary-placeholder="hinzufügen..." ng-change="saveTags()">
            <md-autocomplete md-search-text="searchText" md-items="tag in querySearch(searchText)" md-autoselect>
              <span md-highlight-text="searchText">{{tag}}</span>
            </md-autocomplete>
          </md-chips>
        </md-content>

        <md-content class="md-padding md-whiteframe-z2 white-content" style="margin-top: 0px;">
          <div layout="row">
            <md-subheader class="md-no-sticky">
              <span ng-if="!question.comments.length">Keine Kommentare</span>
              <span ng-if="question.comments.length == 1">{{ question.comments.length }} Kommentar</span>
              <span ng-if="question.comments.length > 1">{{ question.comments.length }} Kommentare</span>
            </md-subheader>
          </div>

          <md-list flex="95" flex-gt-md="60">
            <div layout="row">
              <md-input-container flex>
                <label><i class="fa fa-fw fa-comment"></i> Neuer Kommentar</label>
                <textarea ng-model="commentText" required rows="2" name="commentText"></textarea>
              </md-input-container>

              <div layout="column" layout-align="center">
                <md-button class="md-accent md-raised" ng-click="addComment()">
                  Kommentieren
                </md-button>
              </div>
            </div>

            <md-divider ng-if="question.comments"></md-divider>

            <div layout-gt-sm="row" layout-sm="column" layout-align="center center" ng-if="!view.showComments && question.comments.length">
              <md-button ng-click="view.showComments = true">
                <span ng-if="question.comments.length == 1">{{ question.comments.length }} Kommentar anzeigen</span>
                <span ng-if="question.comments.length > 1">{{ question.comments.length }} Kommentare anzeigen</span>
              </md-button>
            </div>

            <md-list-item class="md-3-line" ng-repeat-start="comment in question.comments" layout="row" layout-align="space-between center" layout-fill ng-if="view.showComments">
              <div class="md-list-item-text" flex layout="row" layout-align="space-between center">
                <section layout="row" layout-align="end center">
                  <cr-comment-vote comment="comment" user="user"></cr-comment-vote>
                </section>

                <section flex="25">
                  <h4><i class="fa fa-user fa-fw"></i> {{ comment.username }}</h4>
                  <span class="md-caption"><i class="fa fa-fw fa-clock-o"></i> <cr-timeago date="{{ comment.date * 1000 }}"></cr-timeago></span>
                </section>

                <p flex>{{ comment.comment }}</p>

                <section layout="row" layout-align="end center" ng-if="comment.user_id == user.user_id || user.group_id == 2">
                  <md-button ng-click="deleteComment($index)" class="md-warn md-icon-button" aria-label="Kommentar l&ouml;schen"><i class="fa fa-fw fa-trash-o"></i></md-button>
                </section>
              </div>
            </md-list-item>

            <md-divider ng-if="!$last" ng-repeat-end></md-divider>
          </md-list>
        </md-content>
      </div>
    </div>
  </md-dialog-content>

  <div class="md-actions" layout="row">
    <md-button class="md-primary" ng-click="cancel()">
      Zur&uuml;ck
    </md-button>
  </div>
</md-dialog>
