<!doctype html>
<html ng-app="crucio.about">
  <head>
    <meta charset="utf-8">
    <title>Crucio | Impressum</title>

    <base href="http://localhost:3000/">

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <link rel="stylesheet" href="app/vendor.css">
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body layout="column" layout-fill ng-controll="ctrl">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <md-toolbar class="white navbar" layout="row" layout-align="center center">
      <md-button class="navbar-brand md-primary" href="/login"><i class="fa fa-check-square-o"></i> Crucio</md-button>

      <span flex-gt-sm="50" flex-sm></span>
    </md-toolbar>

    <md-content class="md-padding background-content" style="min-height: 180px;">
      <div layout="column" layout-align="center center">
        <i class="fa fa-info-circle fa-5x"></i>
        <h4>Impressum</h4>
      </div>
    </md-content>

    <div class="gray-background" layout-align="center start" layout="row" flex style="min-height: 400px;">
      <md-content class="md-padding md-whiteframe-z2 white-content" flex="95" flex-gt-md="66">
        <div layout="column" layout-align="start center" layout-fill layout-padding>
          <!--strong><%= fachschaft.fullName %></strong>
          <strong><%= fachschaft.address.street %></strong>
          <strong><%= fachschaft.address.zip %></strong>
          <strong><%= fachschaft.address.city %></strong>
          <div layout="row" layout-align="center center"-->
          <div layout="row" layout-align="center start" flex layout-fill style="margin: 14px;">
            <span flex="10"></span>
            <span flex="20" style="font-weight: 700;">Inhaber</span>
            <div flex class="md-body-1">
              <span  style="font-weight: 700;"><%= fachschaft.fullName %></span> <br>
              <%= fachschaft.address.street %> <br>
              <%= fachschaft.address.zip %> <%= fachschaft.address.city %>
            </div>
          </div>

          <div layout="row" layout-align="center start" flex layout-fill style="margin: 14px;">
            <span flex="10"></span>
            <span flex="20" style="font-weight: 700;">Entwicklung</span>
            <div flex class="md-body-1">
              Crucio ist ein Open-Source-Projekt. Weitere Infos gibt es auf der <a class="md-accent" href="http://crucioproject.github.io">Hauptseite</a>. <br>
                <strong>&copy; 2015 Lars Berscheid.</strong>
            </div>
          </div>

          <div layout="row" layout-align="center start" flex layout-fill style="margin: 14px;">
            <span flex="10"></span>
            <span flex="20" style="font-weight: 700;">Version</span>
            <div flex class="md-body-1">
              Crucio ist noch in der <strong><%= crucio.version %></strong>-Version, daher werdet ihr sicherlich einige Fehler entdecken. Die k&ouml;nnt ihr in <a href="https://github.com/crucioproject/Crucio/issues" class="md-accent">Github</a> eintragen; und zwar m&ouml;glichst so, dass wir den Fehler reproduzieren k&ouml;nnen. Oder euch einfach bei uns melden...
            </div>
          </div>
        </div>
      </md-content>
    </div>

    <div class="footer md-default-theme md-primary" layout="row"  layout-align="space-around">
      <md-button href="<%= fachschaft.url %>"><%= fachschaft.name %></md-button>
      
      <section>
        <md-button href="contact" target="_self">Kontakt</md-button> | <md-button href="/about" target="_self">Impressum</md-button>
      </section>
    </div>



    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <script src="js/about.controller.js"></script>
  </body>
</html>
