<!doctype html>
<html ng-app="crucio.activate-account">
  <head>
    <meta charset="utf-8">
    <title>Crucio | Account Aktivieren</title>

    <base href="http://localhost:3000/">

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <link rel="stylesheet" href="app/vendor.css">
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body ng-controller="ctrl" layout="column" layout-fill>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <md-toolbar class="white navbar" layout="row" layout-align="center center">
      <md-button class="navbar-brand md-primary" href="/login"><i class="fa fa-check-square-o"></i> Crucio</md-button>

      <span flex-gt-sm="50" flex-sm></span>

      <md-button href="/login" class="md-raised md-primary">Anmelden</md-button>
    </md-toolbar>

    <md-content class="md-padding background-content" layout="column" layout-align="center center" style="min-height: 400px;">
      <div layout="column" layout-align="center center">
        <i class="fa fa-user-plus fa-5x"></i>
        <h4>Account Aktivieren</h4>
        <div layout="row" layout-align="center center">
          <p flex="60" style="text-align: center;">
            Wir wollen noch sicherstellen, dass du wirklich der Inhaber der E-Mail-Adresse bist.
          </p>
        </div>
      </div>
    </md-content>


    <div class="gray-background" layout-align="center start" layout="row" flex style="min-height: 100px;">
      <md-content class="md-padding md-whiteframe-z2 white-content" flex-sm="95" flex-md="80" flex-lg="66">
        <div layout="row" layout-align="center center" ng-if="!error_no_token && !error_unknown">
          <div flex="10">
            <span class="analyze-list-flag success-answer"><i class="fa fa-check"></i></span>
          </div>
          <p>
            Dein Account ist aktiviert und deine E-Mail-Adresse best&auml;tigt.
            Willkommen bei Crucio!
          </p>
        </div>

        <div layout="row" layout-align="center center" ng-if="error_no_token">
          <div flex="10">
            <span class="analyze-list-flag error-answer"><i class="fa fa-times"></i></span>
          </div>
          <p>
            Der Schl&uuml;ssel konnte deinen Account nicht aktivieren. Wir haben einfach keinen Schl&uuml;ssel gefunden.
          </p>
        </div>

        <div layout="row" layout-align="center center" ng-if="error_unknown">
          <div flex="10">
            <span class="analyze-list-flag error-answer"><i class="fa fa-times"></i></span>
          </div>
          <p>
            Der Schl&uuml;ssel konnte deinen Account nicht aktivieren.
            Entweder passt der Schl&uuml;ssel nicht oder dein Account ist bereits aktiviert.
          </p>
        </div>
      </md-content>
    </div>

    <div class="footer md-default-theme md-primary" layout="row"  layout-align="space-around">
      <md-button href="<%= fachschaft.url %>"><%= fachschaft.name %></md-button>

      <section>
        <md-button href="contact" target="_self">Kontakt</md-button> | <md-button href="/about" target="_self">Impressum</md-button>
      </section>
    </div>



    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <script src="js/activate-account.controller.js"></script>
  </body>
</html>
