<!doctype html>
<html ng-app="crucio.contact">
  <head>
    <meta charset="utf-8">
    <title>Crucio | Kontakt</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <link rel="stylesheet" href="app/vendor.css">
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>

  <body ng-controller="ctrl" layout="column" layout-fill>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <md-toolbar class="white navbar" layout="row" layout-align="center center">
      <md-button class="navbar-brand md-primary" href="/"><i class="fa fa-check-square-o"></i> Crucio</md-button>

      <span flex-gt-sm="50" flex-sm></span>

      <md-button href="/login" class="md-raised md-primary" ng-if="!user">Anmelden</md-button>
      <md-button href="/learn/abstract" class="md-raised md-primary" ng-if="user">Zur&uuml;ck</md-button>
    </md-toolbar>

    <md-content class="md-padding background-content" layout="column" layout-align="center center" style="min-height: 400px;">
      <div layout="column" layout-align="center center">
        <i class="fa fa-bullhorn fa-5x"></i>
        <h4>Kontakt</h4>
        <div layout="row" layout-align="center center">
          <p flex="60" style="text-align: center;">
            Bei Angelegenheiten wie z.B. Rechtschreibfehler in Fragen, falschen Antworten, unverst&auml;ndlichen Erkl&auml;rungen, Klausurw&uuml;nschen oder Bugs, kannst du dich hier gerne an uns wenden.
          </p>
        </div>
      </div>
    </md-content>


    <div class="gray-background" layout-align="center start" layout="row" flex style="min-height: 300px;">
      <md-content class="md-padding md-whiteframe-z2 white-content" flex-sm="95" flex-md="80" flex-gt-md="60">
        <form layout="column" name="contactForm" ng-submit="send()">
          <div layout="row">
            <md-input-container flex>
              <label>Name</label>
              <input ng-model="username" type="text" required name="username">
              <div ng-messages="contactForm.username.$error" ng-if="contactForm.username.$dirty">
                <div ng-message="required">Bitte Namen angeben...</div>
              </div>
            </md-input-container>

            <md-input-container flex>
              <label>E-Mail-Adresse</label>
              <input ng-model="mail" type="email" required name="mail">
              <div ng-messages="contactForm.mail.$error" ng-if="contactForm.mail.$dirty">
                <div ng-message="required">Bitte E-Mail-Adresse angeben...</div>
                <div ng-message="email">Keine E-Mail-Adresse angeben...</div>
              </div>
            </md-input-container>
          </div>

          <md-input-container flex>
            <label>Bemerkungen</label>
            <textarea ng-model="text" rows="3" name="text" required></textarea>
          </md-input-container>

          <div layout="row" layout-align="end">
            <md-button class="md-fab" type="submit" aria-label="Senden"><i class="fa fa-send"></i></md-button>
          </div>
        </form>
      </md-content>
    </div>

    <div class="footer md-default-theme md-primary" layout="row"  layout-align="space-around">
      <md-button href="<%= fachschaft.url %>"><%= fachschaft.name %></md-button>

      <section>
        <md-button href="contact" target="_self">Kontakt</md-button> | <md-button href="/about" target="_self">Impressum</md-button>
      </section>
    </div>



    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <script src="js/contact.controller.js"></script>
  </body>
</html>
