<!doctype html>
<html ng-app="crucio.forgot-password">
  <head>
    <meta charset="utf-8">
    <title>Crucio | Passwort Vergessen</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <link rel="stylesheet" href="app/vendor.css">
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>

  <body ng-controller="ctrl" layout="column" layout-fill>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <md-toolbar class="white navbar" layout="row" layout-align="center center">
      <md-button class="navbar-brand md-primary" href="/"><i class="fa fa-check-square-o"></i> Crucio</md-button>

      <span flex-gt-sm="50" flex-sm></span>

      <md-button href="/login" class="md-raised md-primary">Anmelden</md-button>
    </md-toolbar>

    <md-content class="md-padding background-content" layout="column" layout-align="center center" style="min-height: 400px;">
      <div layout="column" layout-align="center center">
        <i class="fa fa-unlock-alt fa-5x"></i>
        <h4>Passwort zur&uuml;cksetzen</h4>
      </div>
    </md-content>

    <div class="gray-background" layout-align="center start" layout="row" style="min-height: 200px;" flex>
      <md-content class="md-padding md-whiteframe-z2 white-content" flex-gt-md="50">
        <form layout="column" ng-submit="reset()" name="forgotPasswordForm">
          <div layout="row">
            <md-input-container flex>
              <label>E-Mail-Adresse</label>
              <input ng-model="mail" type="email" required name="mail">
              <div ng-messages="forgotPasswordForm.mail.$error" ng-if="forgotPasswordForm.mail.$dirty">
                <div ng-message="required">Bitte E-Mail-Adresse angeben...</div>
                <div ng-message="email">Bitte E-Mail-Adresse angeben...</div>
                <div ng-message="noMail">Wir können die E-Mail-Adresse nicht finden...</div>
                <div ng-message="alreadyRequested">Du hast bereits dein Passwort zurückgesetzt...</div>
              </div>
            </md-input-container>
          </div>

          <div layout="row" layout-align="end">
            <md-button class="md-fab" type="submit"><i class="fa fa-send"></i></md-button>
          </div>
        </form>
      </md-content>
    </div>

    <div class="footer md-default-theme md-primary" layout="row"  layout-align="space-around">
      <md-button href="<%= fachschaft.url %>"><%= fachschaft.name %></md-button>

      <section>
        <md-button href="contact" target="_self">Kontakt</md-button> | <md-button href="/about" target="_self">Impressum</md-button>
      </section>
    </div>



    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <script src="js/forgot-password.controller.js"></script>
  </body>
</html>
