<!doctype html>
<html ng-app="crucio.login">
  <head>
    <meta charset="utf-8">
    <title>Crucio | Medizin Leipzig</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <link rel="stylesheet" href="app/vendor.css">
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <md-toolbar class="white navbar" layout-md="column" layout-gt-md="row" layout-align="end center">
      <form ng-submit="login()" layout-sm="column" layout-gt-sm="row" layout-align="center center" ng-controller="login.ctrl" name="loginForm">
        <md-input-container style="font-size: 16px;">
          <label>E-Mail-Adresse</label>
          <input ng-model="mail" required name="mail">
          <div ng-messages="loginForm.mail.$error" ng-if="loginForm.mail.$dirty">
            <div ng-message="required">Bitte E-Mail-Adresse angeben...</div>
            <div ng-message="notActive">Account nicht aktiviert...</div>
          </div>
        </md-input-container>

        <md-input-container style="font-size: 16px;">
          <label>Passwort</label>
          <input ng-model="password" type="password" required name="password">
          <div ng-messages="loginForm.password.$error" ng-if="loginForm.password.$dirty">
            <div ng-message="required">Bitte Passwort angeben...</div>
            <div ng-message="wrong">Falsches Passwort...</div>
          </div>
          <div ng-messages="{a: true}" ng-if="showForgotPassword()">
            <div ng-message="a"><a href="/forgot-password" style="text-decoration: none;">Passwort vergessen...</a></div>
          </div>
        </md-input-container>

        <md-button type="submit" class="md-raised">Anmelden</md-button>
      </form>

      <span flex-gt-sm="5"></span>
    </md-toolbar>

    <md-content class="md-padding background-content" layout="column" layout-align="center center">
      <div class="container">
	    			<div class="brand">
					    <h1><i class="fa fa-check-square-o"></i> Crucio</h1>

					    <p>... hilft dir bei der Vorbereitung f&uuml;r Medizinklausuren an der Universit&auml;t <%= fachschaft.address.city %>.
							Hier werden &Uuml;bungsfragen aus dem Studium gesammelt, gekreuzt und erkl&auml;rt.</p>

              <div layout="row" layout-align="center center">
                <md-button class="md-raised btn-brand" href="register">Registrieren</md-button>
                <md-button class="md-raised btn-brand" href="#more" data-scroll>Mehr Infos</md-button>
              </div>
						</div>
					</div>

					<img class="center-block img-responsive image-med-exam" src="assets/images/med_3x.png">
    </md-content>

    <div class="md-padding gray-background">
      <div class="sturamed" layout="column" layout-align="center center">
		    <p>Crucio - Ein Projekt eures</p>
		    <a href="<%= fachschaft.url %>"><img src="assets/images/sturamed.svg" width="205px"></a>
			</div>
    </div>

    <span id="more"></span>
    <md-content class="md-padding">
      <div layout="row" layout-wrap>
        <div class="info-block" flex-gt-sm="33">
          <i class="fa fa-book"></i>
          <h2 class="md-headline">Lernen</h2>
          <p>Mit Crucio kannst du Fragen & &Uuml;bungsklausuren anschauen, lernen, wiederholen und erkl&auml;ren lassen. Hier sind alle Fragen, die bisher an der Uni <%= fachschaft.address.city %> gesammelt wurden, vereint. Damit sind die Fragen mit dem Studium in <%= fachschaft.address.city %> abgestimmt, sodass du perfekt f&uuml;r die n&auml;chsten Klausuren vorbereitet bist.</p>
        </div>

        <div class="info-block" flex-gt-sm="33">
          <i class="fa fa-inbox"></i>
          <h2>&Uuml;bersicht</h2>
          <p>Crucio ist ein zentraler Ort f&uuml;r Fragen und &Uuml;bungsklausuren an & von der Universit&auml;t <%= fachschaft.address.city %>. Die &Uuml;bungsklausuren sind automatisch nach deinem Semester sortiert, du kannst aber nat&uuml;rlich nach Fachbereich oder einzelnen Fragen suchen. So kannst du dir deine Zeit und Nerven f&uuml;r Inhalte aufheben.</p>
        </div>

        <div class="info-block" flex-gt-sm="33">
          <i class="fa fa-bar-chart-o"></i>
          <h2>Statistik</h2>
          <p>Mit Crucio kannst du genau analysieren, welche Fragen aus welchem Fachbereich du richtig oder falsch gel&ouml;st hast. Oder wo deine Schwachpunkte bei einer bestimmten Klausur sind, damit es beim n&auml;chsten Mal umso besser klappt. <br><small>Noch nicht verf&uuml;gbar.</small></p>
        </div>
      </div>
    </md-content>

    <div class="md-padding gray-background">
      <div class="cite">
        <h3>Heureka, Papier ist [...] sowas von gestern!</h3>
        <i class="fa fa-quote-left pull-left"> <a href="http://de.wikipedia.org/wiki/Epikur">Epikuros von Samos</a></i>
      </div>
    </div>

    <md-content class="md-padding">
      <div layout="row" layout-wrap>
        <div class="info-block" flex-gt-sm="33">
          <i class="fa fa-comments-o"></i>
          <h2>Austauschen</h2>
          <p>Wenn du Schwierigkeiten hast und eine Frage nicht verstehst, kannst du einfach die Kommentarfunktion auf Crucio nutzen. Die Autoren oder freundliche Kommilitonen k&ouml;nnen dann sicher weiterhelfen...</p>
        </div>

        <div class="info-block" flex-gt-sm="33">
          <i class="fa fa-car"></i>
          <h2>&Uuml;berall</h2>
          <p>Du kannst Klausuren und deren L&ouml;sungszettel separat ausdrucken. Au&szlig;erdem ist Crucio f&uuml;r Smartphones und Tablets angepasst. So kannst du &uuml;berall entfallende Antworten nachschauen oder unterwegs weiterlernen. F&uuml;ge doch Crucio zu deinem Startbildschirm als hinzu!</p>
        </div>

        <div class="info-block" flex-gt-sm="33">
          <i class="fa fa-pencil"></i>
          <h2>Mitmachen</h2>
          <p>Crucio lebt von deiner Anteilnahme! Wenn du dich engagieren willst, kannst du Fragen & Klausuren eintragen, Fehler korrigieren oder Erkl&auml;rungen schreiben. Melde dich einfach digital unter 'Kontakt' oder bei uns in der Fachschaft Medizin.</p>
        </div>
      </div>
    </md-content>

    <div class="footer md-default-theme md-primary" layout="row"  layout-align="space-around">
      <md-button href="<%= fachschaft.url %>"><%= fachschaft.name %></md-button>

      <section>
        <md-button href="contact" target="_self">Kontakt</md-button> | <md-button href="/about" target="_self">Impressum</md-button>
      </section>
    </div>



    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <script src="js/smooth-scroll.min.js"></script>
    <script src="js/login.controller.js"></script>

    <script>
      smoothScroll.init();
    </script>
  </body>
</html>
